<div id="left-div">
    <h1>Order up!</h1>

    {{!-- image of burger --}}

    {{#each burgers}}
    {{#unless devoured}}
    <h3>{{burger_name}}
        <button id="{{id}}">Devour</button>
    </h3>
    {{/unless}}
    {{/each}}

</div>
<div id="right-div">
    <h1>Devoured</h1>
    <ul id="devoured-list"></ul>
</div>