<div id="top-div">
    <form id="create-form">
        <label for="bu">Burger Name:</label>
        <input type="text" id="bu" name="name">
        <button type="submit">Add Burger</button>
    </form>
</div>

<div id="left-div">
    <h1>Order up!</h1>

    {{#each burgers}}
    {{#unless devoured}}
    <div id="burger{{id}}">
        <h3><button class="devour-button" id="{{id}}">Devour</button> {{burger_name}}</h3>
    </div>
    {{/unless}}
    {{/each}}

</div>
<div id="right-div">
    <h1>Devoured</h1>
    <ul id="devoured-list">
        {{#each burgers}}
        {{#if devoured}}
            <li>{{burger_name}}</li>
        {{/if}}
        {{/each}}
    </ul>
</div>