body {
    background-image:url(https://hdqwalls.com/download/hot-spicy-burger-ys-1920x1080.jpg);
    background-size: cover;
    color: white;
}

#top-div {
    width: 100%;
}

#left-div {
    float: left;
    width: 50%;
}

#right-div{
    float: right;
    width: 50%;
}